* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-body--todo {
  display: flex;
  padding: 1rem;
}

.app-body--todo-header {
  width: 6rem;
}

.app-body--todo-date {
  width: 6rem;
}

.app-body--todo-completion {
  width: 6rem;
}
